<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Modificar Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div data-th-replace="~{layout/layout :: encabezado}"></div>
        <div class="container">
            <div class="form-container">
                <h1 class="text-center">Editar usuario</h1>
                <form id="formOfertas" action="/api/guardar-usuario" method="post" th:action="@{/api/guardar-usuario}" th:object="${usuario}">
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuario</label>
                        <input type="hidden" th:field="*{password}"/>
                        <input type="text" class="form-control" id="usuario" th:field="*{username}" placeholder="Nombre de usuario" readonly>
                        <span class="text-danger" data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}">error usuario</span>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="correo" th:field="*{correo}" placeholder="Correo de usuario">
                        <span class="text-danger" data-th-if="${#fields.hasErrors('correo')}" data-th-errors="*{correo}">error usuario</span>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" th:field="*{enabled}" id="activoCheckbox" />
                        <label class="form-check-label" for="activoCheckbox">Activo</label>
                    </div>

                    <div class="mb-3">
                        <select id="selectOcupa" class="form-select">
                            <option value="" class="text-muted">-- Selecciona un rol --</option>
                            <option value="ROLE_ADMIN">Administrador</option>
                            <option value="ROLE_COORDINADOR">Coordinador</option>
                            <option value="ROLE_USER">Usuario</option>
                        </select>
                        <input type="button" class="btn btn-sm btn-primary mt-3" value="Agregar" onclick="agregarRenglon()">
                    </div>

                    <table class="table table-hover mx-auto">
                        <thead>
                            <tr class="table-primary">
                                <th class="text-center">Roles</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody id="tablaOcupa">
                            <tr data-th-each="ocu:*{authorities}" data-th-id="r+${ocuStat.index}">
                                <td class="mb-8">
                                    <input name="ocupa"
                                           id="ocupa[]"
                                           class="form-control"
                                           data-th-value="${ocu.authority}"
                                           readonly
                                           style="border: none;">

                                    <input type="hidden" name="idOc" 
                                           data-th-value="${ocu.id}"
                                           />
                                </td>
                                <td class="mb-4 text-center">
                                    <input data-th-id="${ocuStat.index}" class="btn btn-sm btn-danger"
                                           type="button" value="Borrar"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                        <a type="button" class="btn btn-secondary" href="/usuarios">Regresar</a>
                    </div>
                </form>
            </div>
        </div>

        <script>
            function borrarRenglon(evento) {
                var elementoBoton = evento.target;
                var idFila = 'r' + elementoBoton.id;
                document.getElementById(idFila).remove();
            }

            var botonesBorrar = document.querySelectorAll('.btn-danger');

            for (var i = 0; i < botonesBorrar.length; i++) {
                botonesBorrar[i].addEventListener('click', borrarRenglon);
            }

            var idxNew = 1000;

            function agregarRenglon() {
                var selectElement = document.getElementById("selectOcupa");
                var dato = selectElement.value;

                if (dato !== "") {
                    const tabla = document.getElementById("tablaOcupa");
                    var duplicado = false;

                    // Verificar si el rol ya existe en la tabla
                    var filas = tabla.getElementsByTagName("tr");
                    for (var i = 0; i < filas.length; i++) {
                        var rolEnTabla = filas[i].querySelector("input[name='ocupa']").value;
                        if (rolEnTabla === dato) {
                            duplicado = true;
                            break;
                        }
                    }

                    if (!duplicado) {
                        var idxNew = tabla.getElementsByTagName("tr").length + 1;

                        var elemTr = document.createElement("tr");
                        var elemTd1 = document.createElement("td");
                        var elemTd2 = document.createElement("td");
                        var newInput = document.createElement("input");
                        var newInputH = document.createElement("input");
                        var newButton = document.createElement("input");

                        newInput.setAttribute("name", "ocupa");
                        newInput.setAttribute("id", "ocupa[]");
                        newInput.setAttribute("class", "form-control");
                        newInput.setAttribute("value", dato);
                        newInput.setAttribute("readonly", "readonly");
                        newInput.style.border = "none";

                        newInputH.setAttribute("type", "hidden");
                        newInputH.setAttribute("name", "idOc");
                        newInputH.setAttribute("value", "0");

                        elemTd1.setAttribute("class", "mb-8");
                        elemTd2.setAttribute("class", "mb-4 text-center");

                        elemTd1.appendChild(newInput);
                        elemTd1.appendChild(newInputH);

                        newButton.addEventListener('click', borrarRenglon);
                        newButton.setAttribute("id", idxNew);
                        newButton.setAttribute("class", "btn btn-sm btn-danger");
                        newButton.setAttribute("type", "button");
                        newButton.setAttribute("value", "Borrar");

                        elemTd2.appendChild(newButton);

                        elemTr.appendChild(elemTd1);
                        elemTr.appendChild(elemTd2);

                        elemTr.setAttribute("id", "r" + idxNew);
                        tabla.appendChild(elemTr);

                        document.getElementById("selectOcupa").value = ""; 
                    } else {
                        alert("El rol ya está presente en la tabla.");
                    }
                } else {
                    alert("Por favor selecciona una opción del menú desplegable.");
                }
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
