<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Oferta educativa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body onload="entrar()">
        <div data-th-replace="layout/layout :: encabezado">
        </div>
        <div class="container">
            <h1 class="text-center">Oferta educativa</h1>
            
            <button type="button" class="btn btn-success mb-2" onclick="AgregarOferta()">
                Agregar
            </button>

            <table class="table table-hover table-responsive" id="table">
                <thead>
                    <tr class="table-primary">
                        <th>Carreras</th>
                        <th>Ocupaciones</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="body" data-th-fragment="tbl-oferta">
                    <tr th:each="dato : ${datos}">
                        <td class="col-5" th:text="${dato.ofertaEducativa}"></td>
                        <td class="col-5">
                            <ul data-th-each="ocu:${dato.ocupaciones}" >
                                <li data-th-text="${ocu.ocupacion}"></li>
                            </ul>
                        </td>
                        <td class="text-center">
                            <a data-th-href="@{editar/oferta/}+${dato.id}" type="button" 
                               class="btn btn-info" >
                                Editar
                            </a>
                            <a data-sec-authorize="hasAnyRole({'ROLE_ADMIN','ROLE_COORDINADOR'})" 
                                type="button" class="btn btn-danger" data-bs-toggle="modal" 
                               data-th-id="${dato.id}" data-bs-target="#eliminarModal"
                               data-th-dato="${dato.ofertaEducativa}" 
                               data-th-url="'/eliminar/oferta/'+${dato.id}" onclick="setDeleteModalData(this)">
                                Eliminar
                            </a>   
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal Eliminar-->
        <div id="eliminarModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de eliminar la oferta <strong><span id="nombreOferta"></span></strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a id="href" class="btn btn-danger" href="#">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function AgregarOferta() {
                window.location.href = "/agregar/oferta";
            }
            function setDeleteModalData(button) {
                // Obtener los atributos del botón
                var id = button.getAttribute("id");
                var ofertaEducativa = button.getAttribute("dato");
                var url = button.getAttribute("url");

//                console.log("ID:", id);
//                console.log("Oferta educativa:", ofertaEducativa);
//                console.log("URL:", url);

                // Asignar los valores a los elementos de la modal
                document.getElementById("nombreOferta").innerText = ofertaEducativa;
                document.getElementById("href").setAttribute("href", url);
            }
        </script>

        <script src="/js/ofertaeducativa.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>